" by J0sueTM for the project Competitive-Programming

"blacklist everything
*

" do not blacklist cpp files
!*.cpp

" do not blacklist markdown files
!*.md

" do not blacklist python files"
!*.py

" do not blacklist java files
!*.java

" do not blacklist directories
!*/
